<div class="page-header" style="background-image: url('./assets/img/cover.jpg')">
    <div class="filter"></div>
    <div class="motto">

        <div class="row">
            <div class="col-12 pt-lg-5" *ngIf="isActive">
                <div class="container-fluid">
                    <div class="image-upload">
                        <div class="row">
                            <div class="col-6">
                                <input name="imageUrl" type="file" accept="image/*"
                                       (change)="handleInputChange($event)"/>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success" (click)="submit()">Submit</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img [src]="imageSrc" style="max-width:800px;max-height:600px"/>
                            </div>
                            <div class="col-6">
                                <div class="card-body" >
                                    <h6  align="left" *ngFor=" let text of result">
                                      ahhuhu  {{text}}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


